# Set 데이터 생성하기

In [1]:
a = [1,2,2,3,3,3]

In [2]:
# 리스트 데이터에 set() 함수를 적용해서 set 데이터를 만듭니다.
s = set(a)

In [3]:
s

{1, 2, 3}

In [4]:
type(s)

set

set의 원소는 immutable 해야 합니다.

In [5]:
s1=set([[1],'python'])

TypeError: unhashable type: 'list'

In [6]:
s1=set(['python',1])

In [7]:
s1

{1, 'python'}

set의 원소는 인덱스를 갖지 않습니다. 따라서 인덱싱이나 슬라이싱을 할 수 없습니다.

In [8]:
s[0]

TypeError: 'set' object is not subscriptable

리스트 형태로 변경: list() 사용

In [ ]:
list(s)

튜플 형태로 변경: tuple() 사용

In [ ]:
tuple(s)

## Set methods

In [ ]:
dir(s)

In [ ]:
s.add(4)
s

In [ ]:
s.remove(2)
s

### set methods를 사용한 집합 연산

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4, 5}

합집합

In [ ]:
s1.union(s2)

교집합

In [ ]:
s1.intersection(s2)

차집합

In [ ]:
s1.difference(s2)